<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232862633438-gpe690knhiphnl2djluk54bld9e0rvfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232862633438-gpe690knhiphnl2djluk54bld9e0rvfj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>232862633438-oj9fk8kme8pllb7e16pnasiu8utscmpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAd7jCqK2ZjPMjMiXI1WRldVQ2_9m9cxhA</string>
	<key>GCM_SENDER_ID</key>
	<string>232862633438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngh.simpleapp.reactnative3</string>
	<key>PROJECT_ID</key>
	<string>simpleappreactnative1</string>
	<key>STORAGE_BUCKET</key>
	<string>simpleappreactnative1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232862633438:ios:617ca5adc2c43500f7e14f</string>
	<key>DATABASE_URL</key>
	<string>https://simpleappreactnative1.firebaseio.com</string>
</dict>
</plist>